<div class="container p-5">
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
        {{ errorMsg }}
    </div>
    <div class="card border-secondary p-3">
        <h1 class="display-4">SignUp</h1>
        <form #signupForm="ngForm" (ngSubmit)="onSignupClicked(signupForm)">
            <div class="form-group">
                <label for="name">Full Name:</label>
                <input type="text" ngModel name="name" class="form-control" placeholder="Enter Full Name" id="name">
            </div>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" ngModel name="email" class="form-control" placeholder="Enter email" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" ngModel name="password" class="form-control" placeholder="Enter password" id="password">
            </div>
            <div class="form-group">
                <label for="pwd">Confirm Password:</label>
                <input type="password" ngModel name="confirmPassword" class="form-control" placeholder="Re-enter password" id="confirm-password">
            </div>
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input type="checkbox" ngModel name="isSeller" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Are You a Seller ?</label>
                </div>
            </div>
            <div class="form-group"  *ngIf="signupForm.value.isSeller">
                <label for="aadharNumber">Aadhar Number:</label>
                <input type="text" ngModel name="aadharNumber" class="form-control" placeholder="Enter Aadhar Number">
            </div>
            <button type="submit" class="btn btn-primary">SignUp</button>
        </form>
    </div>
</div>